body {
    font-size: 20px;
    font-weight: 500;
}

.formaner-content {
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

#titel {
    text-align: center;
    font-size: 25px;
    font-weight : 700;
}

.formanerna {
    border-radius: 25px;
    text-align: center;
    border: black solid 1px;
    padding : 10px;
    background-color: rgb(240, 240, 240);   
}

button {
    border-radius: 10px;
    text-align: center;
    background-color: deepskyblue;
}