################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
*.user
*.suo
.nuget/

# Databaser
*.db
*.db-shm
*.db-wal

# Rider/JetBrains
.idea/

# Migrationer (autogenererade)
**/Migrations/

# Node / frontend
node_modules/
wwwroot/lib/

# Publish output
**/publish/
