@using System.ComponentModel
@using SOS100.Models;
@model Formaner[]

<link rel="stylesheet" href="~/css/formaner.css"/>

@{
    ViewData["Title"] = "Förmåner";
}    

<div class="formaner-content">
    <h2>@ViewData["Title"]</h2>

    <div>
        @foreach (var forman in Model.OrderBy(x => x.Title)) 
        {
            <p id="titel">@forman.Title</p>
            <p class="formanerna" id="categorie">@forman.categorie <br/> @forman.Description <br/> <br/>  <button>Ansök här!</button> </p>   
        }
    </div>
</div>
