@using SOS100.Models
@model SOS100.Models.Formaner



<body>
<link rel="stylesheet" href="~/css/HR.css"/>

<a id="LoggaUt" asp-controller="Account" asp-action="SignOutUser">Log out</a>
<a id="FormanerIDLänk" asp-controller="FormanerID" asp-action="FormanerID">Här kan du se alla förmåner med ID!</a>
<a id="ApprovalLänk" asp-controller="Approval" asp-action="Index">Granska ansökningar</a>



<h1>Create a benefit</h1>

<form asp-action="Create">

    Titel <br/>
    <input asp-for="Title"/> <br/>
    Kategorie: <br/>
    <input asp-for="categorie"/> <br/>
    Beskrivning: <br/>
    <input asp-for="Description"/> <br/>
    <input type="submit" value="Spara"/> <br/><br/>
</form>

<h1>Redigera en personalförmån:</h1>

<form asp-action="Edit">
    ID: <br/>
    <input asp-for="ID"/> <br/>
    Titel <br/>
    <input asp-for="Title"/> <br/>
    Kategorie: <br/>
    <input asp-for="categorie"/> <br/>
    Beskrivning: <br/>
    <input asp-for="Description"/> <br/>
    <input type="submit" value="Edit"/> <br/><br/>
</form>

<h1>Radera en personalförmån:</h1>

<form asp-action="Delete">
    ID: <br/>
    <input asp-for="ID"/> <br/>
    <input type="submit" value="Delete"/>
</form>


</body>
