<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
</head>

<header>Personal förmåner</header>
<body>
<div>  
    <a asp-controller="Forman" asp-action="Forman">Personal Förmåner</a>
    <a asp-controller="HR" asp-action="HR">HR</a>
    <a asp-controller="HOME" asp-action="Index">Admin</a>
    <a asp-controller="Admin" asp-action="Index">log in</a>
</div>
</body>