<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true"/>
</head>

<body>

<header>Förmånsportal</header>

<nav>
    <li><a asp-controller="Forman" asp-action="Forman">Personal Förmåner</a></li>
    <li> <a asp-controller="HR" asp-action="HR">HR</a></li>
    <li> <a asp-controller="FormanerStatus" asp-action="FormanerStatus">Status Förmåner</a></li>
</nav>

<a asp-controller="Forman" asp-action="Forman">
    <img src="~/images/grafik-hjul.jpg" alt="StartsidaBild" id="minbild">
</a>

</body>