@model RapportFrontend.Models.Rapport

<h2>Skapa Rapport</h2>

<form method="post">
    <div>
        <label>Förmån</label>
        <input asp-for="Formanansokan" />
    </div>

    <div>
        <label>Status</label>
        <input asp-for="Status" />
    </div>

    <div>
        <label>Avdelning</label>
        <input asp-for="Avdelning" />
    </div>

    <button type="submit">Spara</button>
</form>

<a href="/Rapport">Tillbaka</a>