@model Account

<h1>Login</h1>
<form method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
    <table>
        <tr>
            <td>Username</td>
            <td><input asp-for="Username"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" asp-for="Password"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"/></td>
        </tr>
    </table>
</form>

<div>
    @ViewBag.ErrorMessage
</div>