@model Account
<link rel="stylesheet" href="~/css/login.css"/>

<div class="login-wrapper">
    <div class="login-card">
        <h1>Login</h1>
        <form method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
            <table>
                <tr>
                    <td>Username</td>
                </tr>
                <tr>
                    <td><input asp-for="Username"/></td>
                </tr>
                <tr>
                    <td>Password</td>
                </tr>
                <tr>
                    <td><input type="password" asp-for="Password"/></td>
                </tr>
                <tr>
                    <td><input type="submit" id="knapp" value="Login"/></td>
                </tr>
            </table>
        </form>
        <div style="color: red; margin-top: 10px;">
            @ViewBag.ErrorMessage
        </div>
    </div>
</div>