@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    var isLoggedIn = User.Identity?.IsAuthenticated ?? false;
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Förmånsportal</a>
    <div class="navbar-nav me-auto">
        @if (!(currentController == "Home" && currentAction == "Index"))
        {
            <a class="nav-link" asp-controller="Home" asp-action="Index">Startsida</a>
        }
        @if (!(currentController == "Forman" && currentAction == "Forman"))
        {
            <a class="nav-link" asp-controller="Forman" asp-action="Forman">Personal Förmåner</a>
        }
        @if (!(currentController == "HR" && currentAction == "HR"))
        {
            <a class="nav-link" asp-controller="HR" asp-action="HR">HR</a>
        }

        @if (!(currentController == "FormanerStatus" && currentAction == "FormanerStatus"))
        {
            <a class="nav-link" asp-controller="FormanerStatus" asp-action="FormanerStatus">Status Förmåner</a>
        }
        @if (isLoggedIn && !(currentController == "Approval" && currentAction == "Index"))
        {
            <a class="nav-link" asp-controller="Approval" asp-action="Index">Granska ansökningar</a>
        }
        @if (isLoggedIn && !(currentController == "RapportPost" && currentAction == "Index"))
        {
            <a class="nav-link" asp-controller="RapportPost" asp-action="Index">Rapporter</a>
        }

        @if (isLoggedIn && !(currentController == "Rapport" && currentAction == "Rapport"))
        {
            <a class="nav-link" asp-controller="Rapport" asp-action="Rapport">Statistik</a>
        }
        
    </div>
    @if (isLoggedIn)
    {
        <a class="nav-link text-warning ms-auto" asp-controller="Account" asp-action="SignOutUser">Logga ut</a>
    }
</nav>